<!DOCTYPE html>
<html>
    <head>
        <title>Math</title>
        <style type="text/css">
            div, p, h2 {
                line-height: 100%;
                font-size: 14pt;
            }
            table {
                width: 100%;
            }
            td {
                width: 50%;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
